body {
  font-family: 'Lato';
  padding-top: 100px;
}

h1 {
  color: #fff;
}

.navbar {
  background-color: rgb(210, 26, 26);
}
.btn-primary {
  background-color: #000;
  border-color: #000;
}

.btn-primary.disabled {
  background-color: #000;
  border-color: #000;
}

.btn-primary:hover {
  background-color: rgba(0,0,0,0.8);
  border-color: rgba(0,0,0,0.7);
}

.form-horizontal {
  padding-top: 3rem;
}
